
<a class="child" href="/agents/new">Add New Agent</a><br>


<table class="child">

  <tr>
      <th>Exercise ID</th>
      <th>Agent Name</th>

    </tr>
<caption>This is a list of registered agents</caption>

<% @agents.each do |agent| %>
<tr>
<td><%= agent.pretty_name %></td>
</tr>
<% end %>
<br>

<a href="/agents/upload" target="_blank">Import Agents from csv</a><br>
