<h2>Add Agent</h2>

<form action="/agents" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" name="first_name"><br>

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name"><br>

  <label for="asset_name">Asset Name:</label>
  <input type="text" name="asset_name"><br>

  <label for="slack">Slack Handle:</label>
  <input type="text" name="slack"><br>



  <input type='submit' value="Add Agent!">
</form>

<br>
<br>
<a href="/">Back</a>
