<!DOCTYPE html>
<html>
<head>
  <title>CodeClan Killer</title>
</head>
<body>
<nav>
<a href="/">Home</a>
<a href="/agents">Agents</a>
<a href="/kills">Kills</a>
<a href="/exercise">Current Exercise</a>
</nav>
<%= yield %>
</body>
</html>
