<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
<title>Agents, Assets and exercises</title>
</head>


<body>

<header>
<banner>
  <!-- incase of image -->

</banner>

  <nav class="a">
  <a href="/">Home</a>
  <a href="/agents">Agents</a>
  <a href="/agents_on_exercises">Agents on Exercises</a>
  <a href="/exercises">Exercises</a>
  </nav>

</header>




<main>
<%= yield %>
</main>

<footer>
</footer>

</body>
</html>
