header {
  margin:0 auto;
  width:80%;
  background-color: pink;


}
.header-image  {
    background: url( 'killer_ban.png' ) no-repeat;

}
.parentpo {
  display: flex;
  /*height: 100px; /* Or whatever */*/
  /*justify-content: center; /* align horizontal */*/
  align-items: center; /* align vertical */
  flex-direction: column

}
.parent {
  display: flex;
  height: 100px; /* Or whatever */
  align-items: center; /* align vertical */
  flex-direction: column;
  /*flex-wrap: nowrap;*/
}

.child {
  /*width: 100px;*/
  /*height: 300px;*/
  margin: auto;  /* Magic! */
  align-items: center;
  /*justify-content: center; /* align horizontal */*/


}
a {
    text-decoration:none;
}

table {
  padding: 10px;
  margin: 5px;
  text-align: left;
}

.boxhead a {
    color: #FFFFFF;
    text-decoration: none;
}

.examplefantasy {
    font-family: fantasy;
}

.a {
    font: 15px arial, sans-serif;
}
/*
<style type="text/css">
body{
    margin:0px;
    background:#000;
}
.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}
.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 70px auto;
}
</style>
</head>
<body>

<div class="header-cont">
    <div></div>
</div>*/

<div></div>
