<a href="/exercises/new">Add New exercise</a><br>

<table>
  <!-- <caption>Exercises</caption> -->

  <tr>
      <th>Exercise ID</th>
      <th>Exercise Name</th>
      <th>Status</th>
    </tr>
<% @exercises.each do |exercise| %>
<tr>

 <td> <%= exercise.id %> </td>
 <td> <%= exercise.name %> </td>
</tr>
<% end %>
