<h2>Add Exercise</h2>

<form action="/exercises" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name"><br>



  <input type='submit' value="Add Exercise!">
</form>

<br>
<br>
<a href="/">Back</a>
